@import url('https://fonts.googleapis.com/css2?family=Karla&family=Source+Sans+Pro&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family: 'Karla', sans-serif;
}

body {
    background-color: #fefee3;
    width: 100%;
    min-height: 100vh;
}


/*HEADER*/
.header {
    height: 7em;
    width: 100vw;
    background-color: #2c6e49;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    width: 5vw;
    height: 8em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2em;
}
#logo {
    width: auto;
    height: 6em;
}

.nav-container {
    width: 60vw;
    height: 8em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.nav-container a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.nav-container button::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 0;
    height: 2px;
    background: #f1f1f1;
    transition: width 0.2s ease-in-out;
}

.nav-container button:hover::after {
    width: 100%;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #2c6e49;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
    font-size: 2em;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 8px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 8px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #4c956c;
    color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.personal-infos {
    width: 10vw;
    height: 8em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3em;
}

/*PAGES*/
.products-page, .ourTeam-page, .about-page, .cart-page {
    height: 90%;
    display: flex;
    align-items: flex-start;
    padding: 1em;
}

.products-page {
    justify-content: center;
}

.ourTeam-page, .about-page, .cart-page {
    justify-content: flex-start;
}

.ourTeam-page h1, .about-page h1, .cart-page h1 {
    font-size: 2.4em;
    font-weight: bold;
    font-style: italic;
    margin-top: 1em;
}

.ourTeam-page h2, .about-page h2, .cart-page h2 {
    font-size: 1.8em;
    margin: 1em 0 0.5em 0;
}

.ourTeam-page p, .about-page p, .cart-page p {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.card-product {
    height: 570px;
    width: 370px;
    border: none;
    border-radius: 7px;
    padding: 1em;
    margin: 1em;
    background-color: white;
}

.product-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;
}

.product-pic img {
    width: 330px;
    height: auto;
    object-fit: cover;
}

.product-description {
    height: 200px;
}

.product-description p {
    margin-top: 0.5em;
}




/*   ******************************** MEDIA QUERIES ********************************   */
@media screen and (max-width: 428px) {
    .header {
        height: 5em;
    }
    .logo-container {
        width: 5vw;
        padding-left: 1em;
    }
    #logo {
        width: auto;
        height: 3em;
    }
    .nav-container {
        display: none;
    }
    .personal-infos {
        width: 10vw;
        height: 8em;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 0;
    }

}